.listdetail {
    padding-bottom: 40px;
}

.listdetail-brand {
    max-height: 500px;
    overflow: hidden;
}

.listdetail-brand-image {
    width: 100%;
}

.listdetail-body {
    margin: 10px 30px 40px 30px;
}

.listdetail-title {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(236, 179, 45);
    padding-left: 20px;
    border-left: 7px solid #FACB61;
}

.listdetail-note {
    color: grey;
    margin: 20px 0 20px 0;
}

checkbox .wx-checkbox-input {
  align-self: flex-start;
  min-width: 47px;
}

.listdetail-addbookmark {
    background-color: rgb(247, 188, 50);
    color: white;
    font-weight: bold;
}

.listdetail-removebookmark {
  background-color: rgb(197, 30, 30);
  color: white;
  font-weight: bold;
}

.loading {
    margin: 35px;
}