.listdetail {
    padding-bottom: 40px;
    position: relative;
}

.listdetail-finished {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    font-size: 2rem;
    padding: 15px 30px 15px 30px;
    color: rgba(163, 5, 5, 0.568);
    border: 10px solid rgba(163, 5, 5, 0.568);
    animation: 0.5s dropDown ease;
}

@keyframes dropDown {
    0% {
        transform: translate(-50%, -50%) rotate(-30deg) scale(2);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-30deg) scale(1);
    }
}

.listdetail-brand {
    max-height: 500px;
    overflow: hidden;
}

.listdetail-brand-image {
    width: 100%;
}

.listdetail-body {
    margin: 10px 30px 40px 30px;
}

.listdetail-title {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(236, 179, 45);
    padding-left: 20px;
    border-left: 7px solid #FACB61;
}

.listdetail-note {
    color: grey;
    margin: 20px 0 20px 0;
}

checkbox .wx-checkbox-input {
  align-self: flex-start;
  min-width: 47px;
}

.listdetail-addbookmark {
    background-color: rgb(247, 188, 50);
    color: white;
    font-weight: bold;
}

.listdetail-removebookmark {
  background-color: rgb(197, 30, 30);
  color: white;
  font-weight: bold;
}

.loading {
    margin: 35px;
}