::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

page {
    -webkit-font-smoothing: subpixel-antialiase;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: rgb(80, 80, 80);
}

page::before {
    position: fixed;
    content: ' ';
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
}